<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-form v-model="valid" ref="form">
          <v-text-field
            label="E-mail"
            v-model="email"
            :rules="emailRules"
            required
          ></v-text-field>
          <v-text-field
            label="Пароль"
            v-model="password"
            :rules="passwordRules"
            :counter="6"
            required
            type="password"
          ></v-text-field>
          <v-btn @click="submit" :class="{ green: valid, red: !valid }">войти</v-btn>
          <v-btn @click="clear">очистить</v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        valid: false,
        password: '',
        passwordRules: [
          (v) => !!v || 'Пароль обязателен',
          (v) => v && v.length >= 6 || 'Минимум 6 символов',
          (v) => /^[a-zA-Z0-9]+$/.test(v) || 'Пароль может состоять из латинских букв, цифр, спецсимволов'
        ],
        email: '',
        emailRules: [
          (v) => !!v || 'E-mail обязателен',
          (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail должен быть валидным'
        ]
      }
    },
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          this.$store.dispatch('authUserUp', {
            email: this.email, password: this.password
          })
          this.$refs.form.reset()
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    },
    computed: {
      user () {
        return this.$store.getters.getUser
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
