<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-form v-model="valid" ref="form">
          <v-text-field
            label="Тема"
            v-model="noteTitle"
            :rules="noteTitleRules"
            :counter="50"
            required
          ></v-text-field>
          <v-text-field
            label="Текст заметки"
            v-model="noteText"
            :rules="noteTextRules"
            :counter="300"
            required
          ></v-text-field>
          <v-btn @click="submit" :class="{ green: valid, red: !valid }">добавить</v-btn>
          <v-btn @click="clear">очистить</v-btn>
        </v-form>
      </v-flex>
    </v-layout>
    <template v-for="(item, key) in getNotes">
      <v-layout mt-4>
        <v-flex xs12 sm8 offset-sm2>
          <v-card mt-2>
            <v-card-title primary-title>
              <div>
                <div class="headline">{{item.noteTitle}}</div>
                <span class="grey--text">{{item.noteText}}</span>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat class="red--text" @click="deleteNote(key, item.timestamp)">Удалить</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </template>
  </v-container>
</template>

<script>
export default {
  name: 'main',
  data () {
    return {
      user: null,
      valid: false,
      noteTitle: '',
      noteText: '',
      noteTitleRules: [
        (v) => !!v || 'Тема обязательна',
        (v) => v && v.length >= 3 || 'Минимум 3 символа',
        (v) => /^[\s.,a-zA-Zа-яА-Я0-9]+$/.test(v) || 'Тема может содеражать буквы, цифры, точку, запятую и пробел'
      ],
      noteTextRules: [
        (v) => !!v || 'Текст обязателен',
        (v) => v && v.length >= 3 || 'Минимум 3 символа',
        (v) => /^[\s.,a-zA-Zа-яА-Я0-9]+$/.test(v) || 'Текст может содеражать буквы, цифры, точку, запятую и пробел'
      ]
    }
  },
  computed: {
    getNotes () {
      return this.$store.getters.getNotes
    }
  },
  methods: {
    getRef () {
      let ref
      this.user = this.$store.getters.getUser
      if (this.user !== null && this.user !== undefined) {
        ref = this.user.uid
      } else {
        ref = 'shared'
      }
      return ref
    },
    submit () {
      if (this.$refs.form.validate()) {
        let ref = this.getRef()
        let timestamp = new Date()
        timestamp = timestamp.getTime()
        this.$store.dispatch('onAddNote', {
          timestamp: timestamp, noteTitle: this.noteTitle, noteText: this.noteText, ref: ref
        })
        this.$refs.form.reset()
      }
    },
    clear () {
      this.$refs.form.reset()
    },
    deleteNote (index, timestamp) {
      let ref = this.getRef()
      this.$store.dispatch('onDeleteNote', {
        index: index, timestamp: timestamp, ref: ref
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
