<template>
  <v-app toolbar>
    <v-navigation-drawer
      temporary
      v-model="drawer"
      light
      overflow
      absolute
      class = "hidden-md-and-up"
    >
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" v-if = "item.show" @click="goTo(item.link)">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed class="blue darken-1 " dark>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-title @click="goTo('Main')">Заметки на полях</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
      <v-toolbar-items @click="goTo('Main')">
          <v-btn flat dark>
            <v-icon left dark>home</v-icon>
            На главную
          </v-btn>
      </v-toolbar-items>
      <v-toolbar-items @click="goTo('Auth')" v-show = '!user'>
          <v-btn flat dark>
            <v-icon left dark>input</v-icon>
            Войти
          </v-btn>
      </v-toolbar-items>
      <v-toolbar-items @click="goTo('Reg')" v-show = '!user'>
          <v-btn flat dark>
            <v-icon left dark>person_outline</v-icon>
            Зарегистрироваться
          </v-btn>
      </v-toolbar-items>
        <v-toolbar-items @click="logOut" v-show = 'user'>
          <v-btn flat dark>
            <v-icon left dark>directions_run</v-icon>
            Выйти
          </v-btn>
        </v-toolbar-items>
      </v-toolbar-items>
    </v-toolbar>
    <main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </main>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        mode: '',
        drawer: null,
        items: [
          { title: 'Главная', icon: 'home', link: 'Main', show: true },
          { title: 'Войти', icon: 'input', link: 'Auth', show: true },
          { title: 'Зарегистрироваться', icon: 'person_outline', link: 'Reg', show: true },
          { title: 'Выйти', icon: 'directions_run', link: 'Logout', show: false }
        ],
        right: null
      }
    },
    computed: {
      user () {
        return this.$store.getters.getUser
      }
    },
    watch: {
      user (value) {
        this.items[1].show = true
        this.items[2].show = true
        this.items[3].show = false
        if (value !== null && value !== undefined) {
          this.items[1].show = false
          this.items[2].show = false
          this.items[3].show = true
        }
      }
    },
    methods: {
      goTo (value) {
        if (value === 'Logout') {
          this.logOut()
          return false
        }
        this.$router.push({ name: value })
      },
      logOut () {
        this.$store.dispatch('logUserOut')
      }
    }
  }
</script>
